* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article {
  text-align: left; }
  @media screen and (min-width: 35.5em) {
    article {
      text-align: justify;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; } }

article p {
  line-height: 1.6; }
article blockquote {
  font-style: italic;
  color: white;
  margin-right: 2.61792rem;
  margin-left: 2.61792rem; }

.wrap {
  padding: 1rem 0;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient( rgba(0, 0, 0, 0.4), transparent), url(/images/pattern_049.png);
  background: linear-gradient( rgba(0, 0, 0, 0.4), transparent), url(/images/pattern_049.png); }
  @media screen and (min-width: 48em) {
    .wrap {
      padding-top: 4rem;
      padding-bottom: 4rem; } }

.hero-empty {
  position: relative;
  z-index: 2;
  background: black;
  border-bottom: 1px solid #5b200d;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.5); }

.hero-inner {
  max-width: 71.25em;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  background: url("/images/advent-header.jpg") center top no-repeat;
  background-size: cover;
  height: 120px;
  margin: 0 auto; }
  @media screen and (min-width: 35.5em) {
    .hero-inner {
      height: 150px; } }
  @media screen and (min-width: 35.5em) {
    .hero-inner {
      height: 180px; } }
  @media screen and (min-width: 48em) {
    .hero-inner {
      height: 250px; } }
  @media screen and (min-width: 64em) {
    .hero-inner {
      height: 350px; } }
  @media screen and (min-width: 71.25em) {
    .hero-inner {
      height: 400px; } }

.entry-header {
  display: none; }

article {
  font-family: Georgia, serif;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 30em) {
    article {
      margin-left: 8.57143%;
      display: block;
      float: left;
      margin-right: 2.85714%;
      width: 82.85714%; }
      article:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 48em) {
    article {
      display: block;
      float: left;
      margin-right: 2.85714%;
      width: 40%; }
      article:last-child {
        margin-right: 0; } }
  article .article-text p:first-child {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: left;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
    @media screen and (min-width: 48em) {
      article .article-text p:first-child {
        font-size: 1.4rem; } }
  article .signature a:link, article .signature a:visited {
    color: white; }
  article .signature a:hover {
    color: white; }
  article .signature a:active {
    color: white; }

@media screen and (min-width: 30em) {
  .feature-sidebar {
    margin-left: 8.57143%;
    display: block;
    float: left;
    margin-right: 2.85714%;
    width: 82.85714%; }
    .feature-sidebar:last-child {
      margin-right: 0; } }
@media screen and (min-width: 48em) {
  .feature-sidebar {
    margin-left: 0%;
    display: block;
    float: left;
    margin-right: 2.85714%;
    width: 40%; }
    .feature-sidebar:last-child {
      margin-right: 0; } }
.feature-sidebar img {
  max-width: 100%;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 2px 1px rgba(0, 0, 0, 0.14), 0 2px 10px rgba(0, 0, 0, 0.4);
  background: #ffe7e1;
  padding: 5px;
  margin-top: 2.3em; }
  @media screen and (min-width: 48em) {
    .feature-sidebar img {
      padding: 10px; } }
