@font-face {
    font-family: 'Bebas Neue';
    src: url('/font/bebasneue/BebasNeue-webfont.eot');
    src: url('/font/bebasneue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/bebasneue/BebasNeue-webfont.woff') format('woff'),
         url('/font/bebasneue/BebasNeue-webfont.ttf') format('truetype'),
         url('/font/bebasneue/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}