@font-face {
    font-family: 'CloisterBlack';
    src: url('/font/cloisterblack/cloisterblack-webfont.eot');
    src: url('/font/cloisterblack/cloisterblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/cloisterblack/cloisterblack-webfont.woff') format('woff'),
         url('/font/cloisterblack/cloisterblack-webfont.ttf') format('truetype'),
         url('/font/cloisterblack/cloisterblack-webfont.svg#cloister_blacklight') format('svg');
    font-weight: normal;
    font-style: normal;
}