@font-face {
    font-family: 'HattoriHanzoLight';
    src: url('/font/hattorihanzo/Hattori_Hanzo_Italic-webfont.eot');
    src: url('/font/hattorihanzo/Hattori_Hanzo_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/hattorihanzo/Hattori_Hanzo_Italic-webfont.woff') format('woff'),
         url('/font/hattorihanzo/Hattori_Hanzo_Italic-webfont.ttf') format('truetype'),
         url('/font/hattorihanzo/Hattori_Hanzo_Italic-webfont.svg#hattori_hanzolight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'HattoriHanzoLight';
    src: url('/font/hattorihanzo/Hattori_Hanzo-webfont.eot');
    src: url('/font/hattorihanzo/Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/hattorihanzo/Hattori_Hanzo-webfont.woff') format('woff'),
         url('/font/hattorihanzo/Hattori_Hanzo-webfont.ttf') format('truetype'),
         url('/font/hattorihanzo/Hattori_Hanzo-webfont.svg#hattori_hanzolight') format('svg');
    font-weight: normal;
    font-style: normal;
}