@font-face {
  font-family: 'HollaRegular';
  src: url('/font/hollascript/HollaScript-webfont.eot');
  src: url('/font/hollascript/HollaScript-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/hollascript/HollaScript-webfont.woff') format('woff'),
       url('/font//hollascript/HollaScript-webfont.ttf') format('truetype'),
       url('/font/hollascript/HollaScript-webfont.svg#webfontG6wnKP5Z') format('svg');
  font-weight: normal;
  font-style: normal;
}