@font-face {
  font-family: 'KeepCalm';
  src: url('/font/keepcalm/keepcalm-webfont.eot');
  src: url('/font/keepcalm/keepcalm-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/keepcalm/keepcalm-webfont.woff') format('woff'),
       url('/font/keepcalm/keepcalm-webfont.ttf') format('truetype'),
       url('/font/keepcalm/keepcalm-webfont.svg#keep_calmmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}