@font-face {
  font-family: 'mexcellentregular';
  src: url('/font/mexcellent/mexcellent_rg-webfont-webfont.eot');
  src: url('/font/mexcellent/mexcellent_rg-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/mexcellent/mexcellent_rg-webfont-webfont.woff') format('woff'),
       url('/font/mexcellent/mexcellent_rg-webfont-webfont.ttf') format('truetype'),
       url('/font/mexcellent/mexcellent_rg-webfont-webfont.svg#mexcellentregular') format('svg');
  font-weight: normal;
  font-style: normal;
}