/* Feast of the Seven Fishes */

$feature-class: fishes;
@import 'modules/feature-freeform-setup';
@import 'fonts/fontello';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/fishes-family-large.jpg) no-repeat center top fixed;
  background-size: cover;
}

// Slider
@include breakpoint(phone-wide-landscape) {
  #controls { display: none;}
}


#fishslides {
  position: relative;
  &:hover { #controls button {opacity: .9;} }
  margin: 2em auto;
  overflow: hidden;
  .slides {
    position: relative;
    left: 0;
    @include breakpoint(phone-wide-landscape) { position: static; }
    section {
      float: left;
      box-sizing: border-box;
      background: transparent;
      @include breakpoint(phone-wide-landscape) { float: none; }
      & > div {
        @include box-shadow($nice-shadow);
        margin: 0 9%;
        background: #fcf9f5;
        border-radius: 3px;
        padding: 3.8%;
        @include breakpoint(phone-wide-landscape) {
          @include box-shadow(none);
          padding: 0; margin: 0;
        }
      }
    }
  }
}  
#controls {
  position: absolute;
  width: 100%;
  button {
    @include appearance(none);
    @include linear-gradient(#a69a8d, #473c35);
    @include box-shadow(0 3px 10px rgba(0,0,0,.8), 0 1px 1px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.6) inset);
    @include transition(.2s all ease-in-out);
    font-family: fontello; font-size: 3em; color: #fcf9f5;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    width: 2em; height: 2em;
    display: inline-block;
    border: 1px solid #544840;
    border-radius: 50%;
    opacity: .1;
    position: relative; z-index: 2;
    top: 2em;
    &#slide-left  {left: 0; float: left;}
    &#slide-right {right: 0; float: right;}
  }
  @include breakpoint(phone-wide-landscape) { display: none; }
}


article.#{$feature-class} {
  @include box-sizing(border-box);
  @include breakpoint(phone-wide-landscape) {
    padding: 3.8%;
    margin-top: 2em; margin-bottom: 2em;
    background: #fcf9f5;
    @include box-shadow($nice-shadow);
  }
  
	color: #54483f;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	
	.entry-header h1 {
  	height: 300px;
  	margin-bottom: 0;
  	background: url(#{$imgdir}/fishes-title.png) center top no-repeat;
  	@include hide-text;
  	background-size: contain;
  	@include breakpoint(phone-wide-landscape) { height: 170px; }
  }
  
  h2 {
    font-size: 1.75em;
    font-weight: normal;
    &:first-child {margin-top: 0;}
  	@include breakpoint(phone-wide-landscape) { font-size: 1.4em; }
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	
	.signature {display: none;}
	.signature a {color: #54483f;}

	.article-text > p:first-child {
  	font-size: 1.4em;
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include breakpoint(phone-wide-landscape) { font-size: 1.2em; }
	 }
}

.lt-ie8 {
  .entry-header h1 {background-position: 7.8% top;}
  #fishslides {
    .slides { position: static; }
    section { float: none; } 
  }
}