/* Yes, Virginia, There Is a Santa Claus */

$feature-class: virginia;
@import 'modules/feature-freeform-setup';

@mixin virginia-background {
  padding: 3.8%;
  font-size: 1.2em;
  background: rgba(255,255,255,.95);
  border-radius: 3px;
  @include box-shadow($nice-shadow);
}

// Layout
article.#{$feature-class} {
  @include column(6);
  @include push(3);
  @include at-least(desktop-wide) {
    @include column(5);
    @include push(0);
  }
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #e7e7e7 url(#{$imgdir}/virginia-santa-bg-wide.jpg) no-repeat fixed right bottom;
  background-size: cover;
}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
  @include breakpoint(desktop-wide) {
  	@include virginia-background;    
	}
  text-shadow: 0 1px 0 rgba(255,255,255,.6);
  font-family: $body-copy-font;
	margin-top: 2em; margin-bottom: 2em;
	-webkit-font-smoothing: antialiased;
	
	.letter {
	  @include at-least(desktop-wide) {
      @include virginia-background;
	  }
	}
	
	.entry-header h1 {
  	font-size: 4em;
  	font-weight: normal;
  	margin: 0; padding: .6em 0;
  	line-height: .9; 
	  text-align: left;
	  text-shadow: 0 1px 0 #fff;
	  padding-top: 0;
  	span {
  	  display: block;
  	  font-size: .5em;
  	  font-weight: 800;
    }
    @include breakpoint(phone-wide-landscape) {font-size: 3em;}
    @include breakpoint(phone-portrait) {font-size: 2em;}
  }
	
	p {line-height: 1.4;}
	
	.signature {display: none;}

	.article-text > p:first-child {
  	font-size: 1.2em; 
  	margin: .7em 0 2em 0;
  	text-align: left;
  	@include hyphens(none);
	 }	
}

.no-rgba {
  article.#{$feature-class} {background: #fff;}
}

.lt-ie9 {
  article.#{$feature-class} {padding: 3.8%;}
}