/* Advent: The Beginning of the Season */

$feature-class: advent;
@import 'modules/feature-freeform-setup';


// Layout
.main {
  @include clearfix;
  @include container;
}

.content {
  @include row;
}

article {
  @include column(6);
  @include at-least(tablet-portrait) {
    @include column(5);
    @include push(1);
  }
}

.feature-sidebar {
  @include column(6);
  @include last;
  @include at-least(tablet-portrait) {
    @include column(5);
  }
}

// Display
body {background: #1f0000 url(#{$imgdir}/pattern_049.png);}

.main { padding: 2em 0; @include box-shadow(none);}

.wrap {
  @include box-shadow(none);
  padding-top: 1em;
  @include linear-gradient(rgba(0,0,0,.3), transparent, $fallback: transparent);
}

.hero-empty {
  @include box-shadow(#{$header-shadow}, 0 0 10px #000, 0 1px 0 rgba(0,0,0,.5));
  background: #000 url('#{$imgdir}/advent-header.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
  border-bottom: 3px solid #5b200d;
  @include breakpoint(desktop-small)        { height: 350px; }
  @include breakpoint(tablet-portrait)      { height: 250px; }
  @include breakpoint(phone-wide-landscape) { height: 150px; }
}

.advent-envelope {
  @include container;
  margin: 0 auto 2em auto;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  font-family: $body-copy-font;
  -webkit-font-smoothing: antialiased;

	//@include breakpoint(phone-wide-landscape) {padding: 3.8% 0;}
	
	.entry-header { display: none;}
	
	article {
  	@include nice-text;
    @include breakpoint(tablet-portrait) { text-align: left; }
    @include at-least(phone-wide-landscape) { font-size: 1.2em; }
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	h2 {text-align: left;}
	.signature a {color: #fff;}

	.article-text p:first-of-type {
  	font-size: 1.4em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }
	 
  .feature-sidebar {
    img {
	    @include box-shadow($nice-shadow);
	    background: #ffe7e1;
	    padding: 10px;
	    margin-top: 2.3em;
	    @include breakpoint(tablet-portrait) { padding: 5px; }
    }
  }
}