/* The Magic of Macy's Thanksgiving Day Parade */

$feature-class: macys-parade;
@import 'modules/feature-freeform-setup';
@import 'fonts/raleway';
@import 'fonts/ralewayheavy';
@import 'fonts/hattorihanzolight';

// Layout
article.#{$feature-class} {
  @include column(7);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #c5e7f9 url(#{$imgdir}/macys-bg.png) no-repeat center top fixed;
  background-size: cover;
	@include breakpoint(phone-wide-landscape) {
  	background-position: center 300px;
	  background-size: contain;
  }
}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include box-shadow($nice-shadow);
  @include nice-text;
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 2em;
	text-shadow: 0 1px 0 rgba(255,255,255,.6);
	font-family: HattoriHanzoLight, sans-serif;
	color: #454646;
	-webkit-font-smoothing: antialiased;
	background: rgba(255,255,255,.4);
	
	.entry-header h1 {
  	font-family: 'Raleway', sans-serif;
  	font-size: 3.5em;
  	margin: 0; padding: .6em 0;
  	line-height: .9; 
	  text-align: left;
	  font-weight: 900;
	  color: #fff;
	  text-shadow: 0 1px 0 rgba(88,163,173,.9);
	  background: url(#{$imgdir}/macys-star.png) center 50% no-repeat;
	  background-size: contain;
  	span {
  	  display: block;
  	  font-size: .5em;
  	  font-weight: 800;
    }
    @include breakpoint(phone-wide-landscape) {font-size: 3em;}
    @include breakpoint(phone-portrait) {font-size: 2em; text-align: center;}
  }
  
  img {
    @include box-shadow($nice-shadow);
    border: 1px solid #c5e7f9;
    padding: 5px;
    background: #fff;
    max-width: 100%;
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	.signature a {color: #454646;}

	.article-text p:first-child {
  	font-size: 1.4em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }	
}

.no-rgba {
  article.#{$feature-class} {
    background: #fff;
    .entry-header h1 {color: #67aece;}
  }
}