/* Cleveland Rocks Christmas: A Christmas Story */

$feature-class: ralphie;
@import 'modules/feature-freeform-setup';
@import 'fonts/raleway';

// Layout
article.#{$feature-class} {
  @include column(6);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/ralphie-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}

article.#{$feature-class} {
  @include box-sizing(border-box);
	@include nice-text;
	
	margin-top: 2em; margin-bottom: 2em;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	
	@include breakpoint(tablet-portrait) {
    @include box-shadow($nice-shadow);
	  background: rgba(255,255,255,.9);
	  padding: 3.8%;
	  color: $body-default-color;
	  text-shadow: 0 1px 0 rgba(255,255,255,.5);
	}
	
	@include at-least(phone-wide-landscape) { font-size: 1.1em; }
	
	.entry-header h1 {
	  @include hide-text;
  	@include breakpoint(desktop-small) { height: 216px; }
  	@include breakpoint(tablet-portrait) {height: 160px; }
  	@include breakpoint(phone-wide-landscape) {height: 120px; }
  	background: url(/images/ralphie-title.png) center top no-repeat;
  	background-size: contain;
  	height: 245px;
  }
  
  img {
    @include box-shadow($nice-shadow);
    @include blockimg;
    padding: 15px;
    background: #fdfef2;
  	@include at-least(phone-landscape) {
      &.alignright {@include transform(rotate(2deg) translateX(10px));}
      &.alignleft {@include transform(rotate(-2deg) translateX(-10px));}
    }
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	
	.signature a {
    color: #fff;
    @include breakpoint(tablet-portrait) { color: $body-default-color; }
  }

	.article-text p:first-child {
  	@include hyphens(none);
  	font-size: 1.4em; 
  	margin: .7em 0 1em 0;
  	@include breakpoint(phone-wide-landscape) {font-size: 1.1em;}
	 }	
}

.no-rgba {
  article.#{$feature-class} {
    background: #fff;
    color: #222;
  }
}

.lt-ie8 {
  article.#{$feature-class} {
    
    .entry-header h1 {
      @include dont-hide-text;
      background: none;
      height: auto;
      font-size: 6em; font-family: 'Raleway', sans-serif;
      text-align: center;
    }
    .signature a {color: $body-default-color;}
  }
}