/* Oh what fun it is to ride! */

$feature-class: jingle-bells-2010;
@import 'modules/feature-freeform-setup';

// Layout
article.#{$feature-class} {
  @include column(10);
  @include push(1);
  @include breakpoint(tablet-portrait) {
    @include column(12);
    @include push(0);
  }
}

// Display
body {background: #000 url(#{$imgdir}/jingle-bells-bg.png);}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 2em;
	color: #6e5227;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	
	.entry-header h1 {
    @include hide-text;
    height: 280px;
    margin-top: 0;
    background: url(#{$imgdir}/jingle-bells-header.png) center 50% no-repeat;
    background-size: contain;
    @include breakpoint (desktop-small) {height: 210px;}
    @include breakpoint (phone-wide-landscape) {height: 140px;}
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	.signature a {color: #6e5227;}
	
	.article-text {
    padding: 0 7.2%;
    @include breakpoint(desktop-small) {padding: 0;}
	  p:first-child {
  	 font-size: 1.2em; 
  	 margin: .7em 0 1em 0;
  	 text-align: left;
  	 @include hyphens(none);
    }
  }
  
  img {
    @include box-shadow($nice-shadow);
    @include blockimg;
    @include transform(rotate(2deg) translateX(6em));
    padding: 10px;
    line-height: 0;
    position: relative;
    margin-bottom: 1em; margin-left: -4em;
    background: #fff9e7;
    display: inline-block;
    float: right;
    img {border: 1px solid #e8d9bd;}
  }

  footer {
    padding: 0 7.2%;
    @include breakpoint(desktop-small) {padding: 0;}
  }
}

.lt-ie8 {
  article.#{$feature-class} {
    .entry-header h1 {background: url(#{$imgdir}/jingle-bells-header-ie7.jpg) left top no-repeat;}
  }
}

.no-csstransforms {
  article.#{$feature-class} {
    img {margin-left: 1em;}
  }
}