/* Charlies Dickens: Our Modern Father Christmas */

$feature-class: dickens;
@import 'modules/feature-freeform-setup';
@import 'fonts/chunkfiveregular';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/dickens-paper-texture.jpg);
}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 2em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	
  @include breakpoint(phone-wide-landscape) { text-align: left; }
	
	.entry-header h1 {
  	font-family: ChunkFiveRegular, sans-serif;
  	font-weight: normal;
  	font-size: 4em;
  	margin: 0;
  	text-align: left;
  	line-height: 1.1; 
  	display: block;
  	@include breakpoint(tablet-portrait) { font-size: 3em; }
  	@include breakpoint(phone-portrait) { font-size: 2em; }
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}

	.article-text > p:first-child {
  	font-size: 1.4em;
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
  	@include breakpoint(phone-wide-landscape) { font-size: 1.2em; }
	 }
	 
	 .spirit {
	   float: left;
	   margin-right: -7em;
	   @include transform(translateX(-9em));
	   @include blockimg;
	 }
	 
	 .no-csstransforms .spirit {margin-right: 0;}
	 
	 .signature a {color: $body-default-color;}
}