/* Modern Christmas: From Saturnalia to Scrooge */

$feature-class: modern-christmas;
@import 'modules/feature-freeform-setup';
@import 'fonts/leaguegothicregular';
@import 'fonts/ralewayheavy';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background-color: #5d0909;
  background-image: url(#{$imgdir}/modern-xmas-gifts-bg.png), 
                    url(#{$imgdir}/stnick-red-bg.png);
  background-position: center 2em, left top;
  background-attachment: fixed, fixed;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
}

.title-img {
  margin: 2em auto 10px auto;
  display: block;
  position: relative; z-index: 2;
  @include column(8);
  @include push(2);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

article.#{$feature-class} {
  @include box-sizing(border-box);
	@include nice-text;
  @include box-shadow($nice-shadow);
	
	padding: 3.8%; margin-bottom: 2em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	background: rgba(255,255,255,0.78);
	border-radius: 3px;
	
	.entry-header {
    font-size: 3em;
    position: relative;
 	  @include transform(skew(-5deg) rotate(-5deg) translateY(-.5em));
 	  
 	  @include at-least(desktop-wide) {
      font-size: 3.4em;
      &:before {
        left: -38px; bottom: -50px; position: absolute; z-index: -1;
        content: url(#{$imgdir}/modern-christmas-banner-before.png);
      }
      &:after {
        right: -38px; top: -30px; position: absolute; z-index: -1;
        content: url(#{$imgdir}/modern-christmas-banner-after.png);
      }
    }
    
    .no-csstransforms {
      .entry-header {color: $body-default-color;}
    }

    @include at-least(phone-wide-landscape) {
      left: -11%;
      width: 122%;      
    }
    
	  h1 {
      color: #fbf9ec;
	    font-size: 1em;
      font-family: Raleway, sans-serif;
      font-weight: 900;
	    text-align: center;
	    text-shadow: 2px 2px 0 rgba(0,0,0,.7);
      -webkit-text-stroke: 3px rgba(0,0,0,.15);

      @include at-least(phone-wide-landscape) {
        @include box-shadow(0 0 29px rgba(0,0,0,.9) inset, 0 0 9px rgba(0,0,0,.75));
        padding: .7em .5em;
        background: url(#{$imgdir}/green-static.png);
        border: 1px solid rgba(255,255,255,.08);
        border-radius: 3px;      
      }
      
      @include breakpoint(phone-wide-landscape) {
        margin-bottom: 0;
        width: auto;
        left: 0;
      }
    }
  }
  
  h2 {font-family: LeagueGothicRegular; font-size: 3em; text-align: center; font-weight: normal; line-height: 1;}
	
	p {line-height: 1.4;}
	a {color: #324412;}
	
	img {
	  @include box-shadow($nice-shadow);
	  @include blockimg;
  }

	.article-text p:first-child {
  	font-size: 1.1em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
  }
}

.no-rgba {
  article.#{$feature-class} {background: #fff;}
}