/* The Other Plants of Christmas */

$feature-class: plants;
@import 'modules/feature-freeform-setup';
@import 'fonts/hollaregular';

// Layout
article.#{$feature-class} {
  @include column(10);
  @include push(1);
}

// Display
body {
  background: #000 url(#{$imgdir}/plants-background.png);
}

article.#{$feature-class} {
  @include box-sizing(border-box);
	@include nice-text;
  @include box-shadow($nice-shadow);
	@include border-radius(2px);
	
	padding: 3.8%; margin-top: 4em; margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	background: url(#{$imgdir}/plants-content-bg.png);
  
  @include breakpoint(phone-wide-landscape) {
    text-align: left;
  }
	
	.entry-header {
	  border: double #e6d5ba;
	  border-bottom: none;
	  padding: 5% 7.2%;
    h1 {
  	  font-family: 'HollaRegular', serif;
  	  font-size: 4.5em;
  	  font-weight: normal;
  	  text-align: center;
  	  text-shadow: 0 1px 0 #580700;
  	  line-height: 1.1; 
  	  display: block;
  	  color: #2e3d1e; 
  	  margin: 0;
  	  @include breakpoint(phone-wide-landscape) {
        font-size: 3em;
      }
    }
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	.signature a {color: $body-default-color;}

  .article-text {
    @include clearfix;
    color: #3f0300;
	  border-left: double #e6d5ba;
	  border-right: double #e6d5ba;
	  padding: 0 7.2%;
    > p:first-child {
  	  font-size: 1.2em; 
  	  margin: 0 0 1em 0;
  	  text-align: left;
  	  @include hyphens(none);
	    @include breakpoint(phone-wide-landscape) {
        font-size: 1.1em;
      }
	  }
	  p:last-child {margin-bottom: 0;}
	  h2 {
	    text-align: center;
	    font-family: HollaRegular;
	    font-size: 4em;
  	  font-weight: normal;
	    color: #580700;
	    text-shadow: -3px 2px 0 #7e9650;
	    margin-bottom: .25em;
	    clear: both;
	    @include breakpoint(phone-wide-landscape) {
        font-size: 2em;
      }
    }
    blockquote {
      font-size: 1em;
	    @include breakpoint(phone-wide-landscape) {
        margin: 1em 3.8%;
      }
    }
    img {
      float: right;
      width: 50%;
      margin: 1.3em 0 40px 40px;
      border: double #e6d5ba;
      padding: 10px;
      @include breakpoint(phone-wide-landscape) {
        float: none;
        width: auto;
        display: block;
        margin: 0 auto 1em auto;
        padding: 0;
      }
    }
    .other-plants img {
      width: 30%;
      clear: both;
      @include breakpoint(phone-wide-landscape) {
        float: none;
        width: auto;
        display: block;
        margin: 0 auto 1em auto;
        padding: 0;
      }
    }
  }
  
  .feature-footer {
	  border: double #e6d5ba;
	  border-top: none;
	  padding: 7.2%;
	  p:first-child {margin-top: 0;}
  }
  
}

.no-rgba {
  article.#{$feature-class} {background: #fff;}
}