/* From Saint to Santa */

$feature-class: saint-to-santa;
@import 'modules/feature-sidebar-setup';
@import 'fonts/raleway';

// Layout
.main {
  @include container;
  @include clearfix;
}

.entry-header, .content {
  @include row;
}

article {
  @include column(10);
  @include push(1);
  @include breakpoint(phone-wide-landscape) {
    @include column(12);
    @include push(0);
  }
}

// Display
body {background: #000 url(#{$imgdir}/stnick-red-bg.png);}

.main {
  @include box-shadow(none);
  padding: 4em 2em;
  @include breakpoint(phone-wide-landscape) {padding: 0;}
}

.#{$feature-class}-envelope {
	@include breakpoint(phone-wide-landscape) {padding: 1em;}
	
  margin: 0 auto;
  color: $body-default-color;
  font-family: $body-copy-font;

	.entry-header {
    margin-bottom: 1em;
	  h1 {
	    margin: 0;
  	  font-size: 7em;
  	  color: #eaeaea;
  	  text-align: center;
  	  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  	  line-height: .9;
  	  font-family: Raleway, serif;
  	  
  	  @include breakpoint(desktop-small) {font-size: 5em;}
  	  @include breakpoint(tablet-portrait) {font-size: 4em;}
  	  @include breakpoint(phone-portrait) {font-size: 4.8em;}
  	  
  	  span {font-size: .35em; display: block;}
    }
  }
	
	article {
	  @include nice-text;
    @include box-shadow($nice-shadow);
  	color: #444;
  	padding: 3.8%;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
  	background: url(#{$imgdir}/stnick-content-bg.png);
  	@include at-least(phone-wide-landscape) { border-radius: 2px; }
    @include breakpoint(tablet-portrait) { text-align: left; }
  }
  
  .article-text {
    padding: 3.8%;
    border-color: #f0e9da;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    @include clearfix;
  }
  
  .feature-footer {
    padding: 0 3.8% 3.8% 3.8%;
    border-color: #f0e9da;
    border-style: solid; 
    border-width: 0 1px 1px 1px;
  }
	
	p {line-height: 1.4; position: relative;}
  .signature p {margin: 0;}
  .signature a {color: $body-default-color;}
	
	blockquote {
	  font-style: italic; font-size: 1.1em;
	  @include breakpoint(phone-portrait) { margin: 1em 3.8%; }
  }

	.article-text > p:first-of-type {
  	font-size: 1.2em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
  }
  
  img {
    @include box-shadow($nice-shadow);
    @include blockimg;
    margin-bottom: 1em;
    border: 1px solid #f1eee4;
    padding: 10px;
    background: #fff;
    @include at-least(phone-wide-landscape) {
      &.portrait-saint,
      &.santa-roof {
        @include transform(translateX(-8em));
        position: relative;
        margin-right: -6em;
        float: left;
        width: 300px;
      }
      &.portrait-santa {
        @include transform(translateX(8em));
        position: relative;
        margin-left: -6em;
        float: right;
        width: 300px;
      }
    }
  }

}

.no-csstransforms {
  .#{$feature-class}-envelope {
    img.portrait-saint, 
    img.santa-roof     { margin-right: 1em; margin-left: 0;} 
    img.portrait-santa { margin-right: 0; margin-left: 1em;}
  }
}