/* White Christmas: Radio and Box Office Gold */

$feature-class: whitechristmas;
@import 'modules/feature-freeform-setup';
@import 'fonts/raleway';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/white-christmas-bg.jpg) no-repeat center top fixed;
  background-size: cover;
  position: relative;
  &:after {
    display: block;
    position: fixed;
    height: 140px;
    width: 100%;
    bottom: -50px;
    left: 0;
    background: url(#{$imgdir}/snow-foreground.png) center top repeat-x;
    content: " ";
  }
  
}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
  @include box-shadow($nice-shadow);
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 2em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	background: rgba(255,255,255,.9);
	
	.entry-header h1 {
  	font-family: 'Raleway', sans-serif;
  	font-size: 4em;
  	margin: 0;
  	text-align: center;
  	line-height: 1.1; 
  	display: block;
  	color: #990a1e;
  	span {display: block; font-size: .8em;}
  	
    @include breakpoint(phone-wide-landscape) {font-size: 3em;}
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	
	img {
    @include blockimg;
    @include box-shadow($nice-shadow);
	  @include transform(rotate(3deg) translateX(105px));
	  background: #fff;
	  padding: 10px;
	  margin: 1em 0 1em -80px;
  	@include breakpoint(tablet-portrait) {max-width: 80%;}
  	@include breakpoint(phone-wide-landscape) {width: 100%; max-width: 100%;}
	}

	.article-text p:first-child {
  	font-size: 1.2em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }	
}

.no-rgba {
  article.#{$feature-class} {background: #fff;}
}

.no-csstransforms {
  article.#{$feature-class} {
    img {margin-left: 0;}
  }
}