/* A Visit From St. Nicholas */

$feature-class: twas;
@import 'modules/feature-freeform-setup';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include last;
  @include breakpoint(desktop-small) {
    @include column(10);
    @include push(1);
    @include last;
  }
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
    @include last;
  }
  @include breakpoint(phone-wide-landscape) {
    @include column(12);
    @include push(0);
    @include last;
  }
}

.poem {
  @include row;
  .poem-text {
    @include column(9);
    @include push(3);
    @include last;
    @include breakpoint(tablet-portrait) {
      @include column(10);
      @include push(2);
      @include last;
    }
    @include breakpoint(phone-wide-landscape) {
      @include column(12);
      @include push(0);
      @include last;
    }
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/twas-bg.png) no-repeat center top fixed;
  background-size: cover;
  color: #fff;
}

article.#{$feature-class} {
  font-family: $body-copy-font;
	text-shadow: 0 1px 0 #000;
	-webkit-font-smoothing: antialiased;
	
	a {
	 color: #8ab2d9;
	 &:hover {color: lighten(#8ab2d9, 10%);}
  }
	
	.article-text {
    @include box-shadow($nice-shadow);
    @include nice-text;
    @include box-sizing(border-box);
    
	  background: rgba(255,255,255,0.2);
	  padding: 3.8%;
	  margin-top: 2em; margin-bottom: 2em;
	  p:first-child {margin-top: 0;}
	  p:last-child {margin-bottom: 0;}
  }
  
	.entry-header {
	  margin: 2em 0;
	  h1 {
  	  font-family: $body-copy-font;
  	  font-size: 4em;
  	  font-weight: normal;
  	  text-align: center;
  	  margin: 0;
  	  line-height: 1.1; 
  	  display: block;
      @include breakpoint(tablet-portrait) {
        font-size: 3em;
      }
    }
  }
}

.poem {
  @include clearfix;
  margin-bottom: 4em;
	-webkit-font-smoothing: antialiased;
  font-family: $body-copy-font;
	text-shadow: 0 1px 0 #000;
  h2 {
    font-weight: normal;
    white-space: nowrap;
    @include breakpoint(phone-portrait) {
      font-size: 1em;
    }
  }
	p {
 	  line-height: 1.4;
 	  white-space: nowrap;
    @include breakpoint(phone-portrait) {
      font-size: .7em;
    }
  }
	span {
    @include transition(.2s all ease-in-out);
    display: inline-block;
    overflow: hidden;
  }
}

.hide {width: 0px !important;}

.no-rgba {
  article.#{$feature-class} {background: #455464;}
}