/* Religion in a Christmas Special? Good Grief! - A Charlie Brown Christmas */

$feature-class: charliebrown;
@import 'modules/feature-freeform-setup';

// Layout
article.#{$feature-class} {
  @include column(6);
  @include push(3);
  @include breakpoint(desktop-small) {
    @include column(8);
    @include push(2);
  }
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/peanuts-bg-chuck.jpg) center bottom fixed;;
  background-size: cover;
}

article.#{$feature-class} {
  @include box-sizing(border-box);
	@include nice-text;
  @include box-shadow($nice-shadow);
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 2em;
	color: #e1effe;
	text-shadow: 0 1px 0 #222;
	font-family: $body-copy-font;
	background: rgba(10, 26, 44,0.8);
	-webkit-font-smoothing: antialiased;
	
	.entry-header h1 {
    @include hide-text;
    background: url(/images/charlie-brown-h1.png) center top no-repeat;
    background-size: contain;
    height: 275px;
    @include breakpoint(tablet-portrait) { height: 200px; }
    @include breakpoint(phone-wide-landscape) { height: 150px; }
  }
  
  blockquote {
    color: #7d9d6b;
    text-shadow: 0 1px 0 #000;
    margin-bottom: 2em;
    @include breakpoint(phone-portrait) { margin-left: .5em; margin-right: .5em; }
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}	
	
	img {
	  @include breakpoint(phone-portrait) {max-width: 50%;}
  }
  
  .signature a {color: #e1effe;}
}

.no-rgba {
  article.#{$feature-class} {background: #06182d;}
}

.lt-ie8 {
  article.#{$feature-class} .entry-header h1 {background-position-x: left; height: 290px;}
}