/* A Muppets Family Christmas: The Whole Family Together */

$feature-class: muppets;
@import 'modules/feature-freeform-setup';

// Layout
.main {
  @include container;
  @include clearfix;
}

.entry-header, .content {
  @include row;
}

article {
  @include column(8);
}

.feature-sidebar {
  @include column(4);
  @include last;
}


// Display
body {
  background: #103146 url(#{$imgdir}/muppet-family-bg.jpg) no-repeat center fixed;
  background-size: cover;
}

.main {
  @include box-shadow(none);
  padding: 4em 2em;
  @include breakpoint(phone-wide-landscape) {padding: 0;}
}


.#{$feature-class}-envelope {
	@include breakpoint(phone-wide-landscape) {padding: 1em;}
	
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  font-family: $body-copy-font;
  -webkit-font-smoothing: antialiased;

	.entry-header {
    margin-bottom: 2em;
	  h1 {
	    @include hide-text;
	    background: url(#{$imgdir}/muppet-family-title.png) center top no-repeat;
	    background-size: contain;
	    height: 250px;
	    margin: 0;
  	  @include breakpoint(desktop-small)        { height: 225px; }
  	  @include breakpoint(tablet-portrait)      { height: 132px; }
  	  @include breakpoint(phone-wide-landscape) { height: 160px; }
  	  @include breakpoint(phone-portrait)       { height: 120px; }
    }
  }
	
	article {
  	@include box-shadow($nice-shadow);
  	@include nice-text;
  	background: rgba(1,1,1,0.8);
  	padding: 3.8%;
  	border-radius: 4px;
  }
	
	p {line-height: 1.4;}
	a {
	 color: #6c8e30;
	 &:hover {color: lighten(#6c8e30, 25%);}
  }
  
  .signature a {color: #fff;}

	.article-text p:first-of-type {
  	font-size: 1.4em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }
	 
	 .feature-sidebar {
	   img {
	     @include box-shadow($nice-shadow);
	     border: 1px solid #ccc;
	     display: block;
	     padding: 7px;
	     background: #fff;
	     max-width: 100%;
	     position: relative;
	     &:nth-child(odd)  { @include transform(rotate(2deg)); top: -10px; }
	     &:nth-child(even) { @include transform(rotate(-1deg)); }
	   }
	 }
}

.no-rgba {
  .#{$feature-class}-envelope {
    article {background: #111;}
  }
}

.no-boxsizing {
  .#{$feature-class}-envelope {
    article {width: 57%;}
  }
}

.lt-ie8 {
  .#{$feature-class}-envelope {
    .entry-header h1 {background-position-x: left;} 
  }
}