/* A Box Office Miracle */

$feature-class: miracle;
@import 'modules/feature-freeform-setup';
@import 'fonts/leaguegothicregular';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include breakpoint(phone-wide-landscape) {
    @include column(10);
    @include push(1);
  }
}

// Display
body { background: #444 url(#{$imgdir}/black-static.png);}

.content {
  border: 1em solid #fff;
  margin: 1em auto;
  background: #fff970;
  @include clearfix;
  @include box-sizing(border-box);
  @include box-shadow($nice-shadow);
  @include at-least(tablet-portrait) { border-width: 2em; }
  @include at-least(phone-landscape) {margin-top: 4em; margin-bottom: 2em;}
  @include breakpoint(phone-wide-landscape) { border-width: 3.8%; }
  position: relative;
  
  &:before, &:after {
    position: absolute; z-index: 2;
    @include breakpoint(desktop-small) { @include transform(scale(.7)); }
    @include breakpoint(tablet-portrait) { @include transform(scale(.6)); }
    @include breakpoint(phone-wide-landscape) { @include transform(scale(.4)); }
    @include breakpoint(phone-landscape) { display: none; }
  }
  &:before {
    top: -3em; left: 0;
    content: url(#{$imgdir}/maureen.png);
    @include transform-origin(left top);
  }
  &:after {
    top: -3em; right: 0; 
    content: url(#{$imgdir}/john.png);
    @include transform-origin(right top);
  }
  
}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
	@include linear-gradient(top, #f9c94a, #fff970 75%, $fallback: #f9c94a);
	@include breakpoint(phone-wide-landscape) { padding: 7.2%;}
	@include at-least(tablet-portrait) { padding: 7.2%; }
	
	position: relative;
	padding: 3.8%;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	color: #444;
	
	.entry-header h1 {
  	font-family: LeagueGothicRegular, sans-serif;
    font-size: 9em;
    text-align: center;
    line-height: 1;
    color: #af030e;
    text-shadow: -1px 1px 0 #333, -2px 2px 0 #333, -3px 3px 0 #333, -4px 4px 0 #333, -5px 5px 0 #333;
    @include at-least(desktop-wide)           {margin: 3.8% 0;}
    @include breakpoint(desktop-wide)         {font-size: 8em; margin: 7.2%;}
    @include breakpoint(tablet-portrait)      {font-size: 6em; margin: 3.8%;}
    @include breakpoint(phone-wide-landscape) {font-size: 5em; margin: 3.8% 3.8% 7.2% 3.8%;}
    @include breakpoint(phone-landscape)      {margin: 3.8% 0;}
  }
	
	p {line-height: 1.4;}
	.signature a {color: #444 ;}
	
	.poster {
  	@include transform(rotate(2deg));
  	@include box-shadow($nice-shadow);
    @include at-least(phone-wide-landscape) {
      float: right;
      right: -5em;
      margin-left: -2em; margin-bottom: 2em;
      position: relative;
    }
	}
	
	.kringle {display: block; margin: 0 auto;}

	.article-text p:first-child {
  	font-size: 1.4em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
    @include breakpoint(phone-wide-landscape) {font-size: 1.2em;}
	 }
}

.supplemental {clear: both;}