/* An Introduction to Hanukkah */

$feature-class: hanukkah;
@import 'modules/feature-sidebar-setup';
@import 'fonts/tanachregular';

// Layout
.main {
  @include container;
  @include clearfix;
}

.entry-header, .content {
  @include row;
}

article {
  @include column(8);
  @include breakpoint(desktop-small) {
   @include column(8);
    @include push(0);
  }
}

.feature-sidebar {
  @include column(4);
  @include last;
}


// Display
body {background: #103146 url(#{$imgdir}/hanukkah-blue-noise.png);}

.main { padding: 2em 0; @include box-shadow(none);}

.wrap {
  padding: 2em;
  @include breakpoint(phone-wide-landscape) {padding: 1em;}
}


.#{$feature-class}-envelope {
  @include box-sizing(border-box);
	@include box-shadow($nice-shadow);
  padding: 3.8% 20px;
  margin: 0 auto;
  max-width: 960px;
  background-color: #5d98bd;
  background-image: url('#{$imgdir}/hanukkah-menorah-bg.png'), url('#{$imgdir}/hanukkah-blue-noise-inner.png');
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
  border: 5px solid #fff;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
  font-family: $body-copy-font;
  -webkit-font-smoothing: antialiased;
  
  @include breakpoint(phone-wide-landscape) {padding: 3.8%; margin: 1em 0;}

	.entry-header {
    margin: 1em 0 3em 0;
    @include breakpoint(phone-wide-landscape) {margin: 0 0 2em 0;}
	  h1 {
	    margin: 0;
  	  font-size: 15em; font-weight: normal;
  	  color: #eaeaea;
  	  text-align: center;
  	  line-height: .7;
  	  font-family: 'TanachRegular', serif;
  	  @include breakpoint(desktop-small) {font-size: 13em;}
  	  @include breakpoint(tablet-portrait) {font-size: 9em;}
  	  @include breakpoint(phone-wide-landscape) {font-size: 7em; span: .8em;}
  	  @include breakpoint(phone-landscape) {font-size: 5em; span: .8em;}
  	  @include breakpoint(phone-portrait) {font-size: 3em;}
  	  span {font-size: .3em; display: block;}
  	  b {font-weight: normal; display: block;}
    }
  }
	
	article {
  	@include nice-text;
  	text-shadow: 0 1px 0 #000;
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	
	.signature a {color: #fff;}
	
	h3 {font-weight: normal;}

	.article-text p:first-of-type {
  	font-size: 1.2em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }
	 
	 .feature-sidebar {
	   padding-top: 5em;
  
	   @include breakpoint(phone-wide-landscape) { padding-top: 1em; }
  	 @include at-least(phone-wide-landscape) { 
  	   p { font-size: .8em;}
  	 }
  	 
  	 img {@include blockimg;}
  	 
	   h2 {
	     font-family: 'TanachRegular', serif;
	     font-size: 2.5em; font-weight: normal;
	     line-height: .5;
	     margin-bottom: .5em;
	     font-weight: normal;
	     letter-spacing: 3px;
	   }
	 }
}