/* The Ancient Origins of Christmas */

$feature-class: origins;
@import 'modules/feature-freeform-setup';
@import 'fonts/cloisterblack';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {background: #36290f url(#{$imgdir}/origins-brown-noise.png);}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
  @include box-shadow($nice-shadow);
  
  background-color: #dfd1b1;
  background: url(#{$imgdir}/origins-mistletoe-bg.png),
              url(#{$imgdir}/origins-beige-noise.png);
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;
  background-position: center 2em, left top;
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 2em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	
  @include breakpoint(phone-wide-landscape) {text-align: left;}
	
	.entry-header {
    h1 {
  	  font-family: 'CloisterBlackLight', sans-serif;
  	  font-weight: normal;
  	  font-size: 10em;
    	margin: .1em 0 .3em 0;
    	text-align: center;
  	  line-height: .75; 
  	  display: block;
  	  color: #5a100e;
  	  span {font-size: .3em; display: block;}
  	  @include breakpoint(desktop-small) {font-size: 8em;}
  	  @include breakpoint(tablet-portrait) {font-size: 6em;}
  	  @include breakpoint(phone-wide-landscape) {
  	    font-size: 4em;
  	    spand {font-size: .4em;}
  	  }
    }
  }
  
  aside.ribbon {
	  @include box-shadow(0 1px 0 rgba(255,255,255,.2) inset);
    
    position: relative;
    left: -9%;
    width: 118%;
    color: #fff;
    font-size: 1.6em;
    font-style: italic;
    font-family: $body-copy-font;
	  text-align: left;
	  text-shadow: 0 1px 0 #3c0000;
	  -webkit-font-smoothing: antialiased;
	  background: #94231a url(#{$imgdir}/origins-red-static.png);
	  border-radius: 3px;
    
    p {
      @include linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.55));
      font-size: 1em;
      padding: 5% 3.8%;
      margin: 0;
    }

    @include breakpoint(phone-wide-landscape) {
      @include box-shadow(none);
      position: static;
      background: none;
      margin-bottom: 0;
      width: auto;
      left: 0;
      color: #222;
      text-shadow: inherit;
      p {background: none;}
    }
 	  
 	  @include at-least(desktop-wide) {
      &:before {
        bottom: -48px; left: -33px; position: absolute; z-index: -1;
        content: url(#{$imgdir}/origins-ribbon-left.png);
      }
      &:after {
        bottom: -48px; right: -28px; position: absolute; z-index: -1;
        content: url(#{$imgdir}/origins-ribbon-right.png);
      }
    }
    
  }
  
  figure {
    @include blockimg;
    max-width: 50%;
    font-size: .9em;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	.signature a {color: $body-default-color;}

	.article-text > p:first-child {
  	font-size: 1.2em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }
}

.no-rgba {
  article.#{$feature-class} {background: #e2d3b1;}
}