/* Rockefeller Center Christmas Tree: A Big Tree for the Big Apple */

$feature-class: rocktree;
@import 'modules/feature-freeform-setup';
@import 'fonts/raleway';
@import 'fonts/ralewayheavy';

// Layout
article.#{$feature-class} {
  @include column(6);
  @include breakpoint(desktop-small) {
    @include column(8);
    @include push(1);
  }
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/rockefeller-tree/tree-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
  @include box-shadow($nice-shadow);
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 2em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	background: rgba(255,255,255,.95);
	
	.entry-header h1 {
  	font-family: 'Raleway', sans-serif;
  	font-size: 3em;
  	margin: 0;
  	line-height: 1.2; 
  	text-align: left;
  	display: block;
  	i {font-style: normal; font-weight: 900; font-size: 1.2em;}
  	
  	@include breakpoint(phone-landscape) {
    	font-size: 2em;
  	}
  }
	
	p {line-height: 1.4;}
	a {color: #3ba016;}
	.signature a {color: $body-default-color;}

	.article-text p:first-child {
  	font-size: 1.2em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }	
}

.no-rgba {
  article.#{$feature-class} {background: #fff;}
}