/* United Kingdom */

$feature-class: uk2011;
@import 'modules/feature-freeform-setup';
@import 'fonts/keepcalmmedium';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/uk-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
  @include box-shadow($nice-shadow);
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 2em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	background: rgba(255,255,255,.9);
	
	.entry-header {
	   background: url(#{$imgdir}/bells.png) center top no-repeat;
	   padding-top: 130px;
	   @include breakpoint(phone-wide-landscape) {
	     background-position: center 1em;
  	   background-size: 50%;
	   }
	   
	   h1 {
  	   margin-bottom: .5em;
  	   text-align: center;
  	   line-height: 1;
  	   display: block;
  	   font-size: 6em;
  	   font-family: KeepCalmMedium;
  	   text-transform: uppercase;
  	   font-weight: normal;
  	   text-align: center;
  	   i {font-style: normal; font-size: .5em; display: block; font-weight: normal; margin: 0; line-height: 1.3;}
  	   span {font-style: normal; display: block;}
  	 }
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	.signature a {color: $body-default-color;}

	.article-text p:first-child {
  	font-size: 1.2em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }	
}

.no-rgba {
  article.#{$feature-class} {background: #fff;}
}

