/* Christmas in Mexico */

$feature-class: mexico;
@import 'modules/feature-freeform-setup';
@import 'fonts/mexcellent';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/mexico-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
  @include box-shadow($nice-shadow);
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 3em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	background: rgba(255,255,255,.9);
	
	.entry-header {
	  margin-top: 1em;
	  margin-bottom: 4em;
	  @include breakpoint(phone-wide-landscape) { margin-bottom: 1em; }
	  h1 {
    	margin-top: 0;
    	text-align: center;
    	text-transform: uppercase;
    	line-height: .8;
    	display: block;
    	font-family: MexcellentRegular;
    	font-weight: normal;
    	letter-spacing: .15em;
    	
    	b {font-size: 6em; font-weight: normal; display: block;}
    	span {display: block; font-style: normal; font-size: 2.9em; margin-bottom: .2em; }
    	
      @include breakpoint(desktop-small) {
        b {font-size: 4em;}
        span {font-size: 1.9em; margin-bottom: .2em;}
      }
      
      @include breakpoint(tablet-portrait) {
        b {font-size: 3em;}
        span {font-size: 1.4em; margin-bottom: .2em;}
      }
    	
      @include breakpoint(phone-wide-landscape) {
        b {font-size: 3em;}
        span {font-size: 1.3em; margin-bottom: .2em;}
      }
    	
      @include breakpoint(phone-portrait) {
        b {font-size: 2.3em;}
        span {font-size: 1em; margin-bottom: .2em;}
      }
    }
  }
	
	p {line-height: 1.4;}
	a {color: #324412;}
	.signature a {color: $body-default-color;}

	.article-text p:first-child {
  	font-size: 1.4em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }	
}

.no-rgba {
  article.#{$feature-class} {background: #fff;}
}