/* Christmas in the Philippines */

$feature-class: philippines;
@import 'modules/feature-freeform-setup';
@import 'fonts/raleway';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include breakpoint(tablet-portrait) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/map.jpg) no-repeat center top fixed;
  background-size: cover;
}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
  @include box-shadow($nice-shadow);
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 2em;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	font-family: $body-copy-font;
	color: #fff; 
	-webkit-font-smoothing: antialiased;
	background: rgba(44, 33, 20,.95);
	
	.entry-header h1 {
  	font-family: 'Raleway', sans-serif;
  	font-size: 3em;
  	margin: 0 0 1em 0;
  	text-align: center;
  	line-height: 1.1; 
  	display: block;
  	span {
  	 display: block;
  	 font-size: 1.8em;
    }
    
    @include breakpoint(desktop-small) { font-size: 2em; }
    @include breakpoint(phone-portrait) { font-size: 1.5em; }
  }
	
	p {line-height: 1.4;}
	a {color: #f2bf82;}
  .signature a {color: #fff;}

	.article-text p:first-child {
  	font-size: 1.2em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }
}

.no-rgba {
  article.#{$feature-class} {background: #201911;}
}

