/* Eating Christmas - The food from Christmas classics */

$feature-class: classics;
@import 'modules/feature-freeform-setup';
@import 'fonts/raleway';

// Layout
article.#{$feature-class} {
  @include column(8);
  @include push(2);
  @include breakpoint(desktop-small) {
    @include column(10);
    @include push(1);
  }
}

// Display
body {
  background: #000 url(#{$imgdir}/eating-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}

article.#{$feature-class} {
  @include box-sizing(border-box);
  @include nice-text;
  @include box-shadow($nice-shadow);
	
	padding: 3.8%; margin-top: 2em; margin-bottom: 2em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font-family: $body-copy-font;
	-webkit-font-smoothing: antialiased;
	background: rgba(255,255,255,.9);
	
  .entry-header h1 {
    @include hide-text;
    background: url(#{$imgdir}/eating-header.png) center top no-repeat;
    height: 205px;
    text-shadow: 0 -1px 0 #fff, 0 1px 3px #000;
    
    @include breakpoint(tablet-portrait) {
      @include dont-hide-text;
      background: none;
      height: auto !important;
      font-family: Raleway, sans-serif;
      font-size: 6em;
      color: #b92229;
      text-align: center;
      margin: 0 0 .5em 0;
      span {
        display: block;
        color: rgba(255,255,255,.9);
        line-height: 0;
        font-weight: normal;
        font-size: .6em;
        font-style: italic;
        font-family: $body-copy-font;
        text-shadow: 0 1px 3px #000;
      }
    }
    @include breakpoint(phone-wide-landscape) {
      font-size: 4em;
    }
  }
  
  h2, h3, h4 {font-family: Raleway, sans-serif; font-weight: normal;}
	
	p {line-height: 1.2;}
	a {color: #324412;}
	.signature a {color: $body-default-color;}

	.article-text p:first-child {
  	font-size: 1.4em; 
  	margin: .7em 0 1em 0;
  	text-align: left;
  	@include hyphens(none);
	 }	
}

.no-rgba {
  article.#{$feature-class} {background: #fff;}
}