//! Feature Prototype

// Setup
@import 'bourbon/bourbon';    // Bourbon
@import "grid-settings";      // Bourbon Neat grid settings
@import 'neat/neat';          // Bourbon Neat
@import 'toggle';             // Toggle mixin. It's big, so it gets its own file
@import 'settings';           // Mostly variables, mixins, and extends and other includes.

// Specific to just this feature
@import 'font/Blackout2AM';  // Blackout 2am

$featurecolor: red;
$body-copy-font: $body-copy-font;

.wrap { 
  background: lime;
  padding: 1rem 0;
  @include media($mobile1) {
    padding-top:    4rem;
    padding-bottom: 4rem;
  }
}

.content {

  @include span-columns(12);
  @include media($mobile1)   {  }
  @include media($mobile2)   {  }
  @include media($tablet1)   {  }
  @include media($tablet2)   {  }
  @include media($max-width) {  }
}

article {
  @extend %nice-text;
  @extend %content-module;
  
  font-family: Blackout2AM;
	color: $featurecolor;
  text-shadow: 10px 10px 0 fuchsia;
	
  @include media($mobile1)   {  }
  @include media($mobile2)   {  }
  @include media($tablet1)   {  }
  @include media($tablet2)   {  }
  @include media($max-width) {  }
  	
	.entry-header h1 {

    @include media($mobile1)   {  }
    @include media($mobile2)   {  }
    @include media($tablet1)   {  }
    @include media($tablet2)   {  }
    @include media($max-width) {  }
  }

	a {  }

	.article-text p:first-child {
  	font-size: 1.2rem;
  	margin: 1rem 0;
  	text-align: left;
  	@include hyphens(none);
  	@include media($tablet1) { font-size: 1.4rem; }
	 }	
	 
  .signature a {
    &:link,
    &:visited { color: $featurecolor; }
    &:hover   { color: lighten($featurecolor, 20); }
    &:active  { color: lighten($featurecolor, 30); }
  }
  
}