/*! Feature Prototype */

@import 'setup';             // Setup
@import 'font/Blackout2AM';  // Blackout 2am

$featurecolor: red;
$linkcolor: lime;

.wrap { 
  background: lime;
  padding: 1rem 0;
  overflow-x: hidden;
  @include media($mobile1) {
    padding-top:    4rem;
    padding-bottom: 4rem;
  }
}

.content {

	color: $featurecolor;
  $body-copy-font: $body-copy-font;

  @include span-columns(12);
  @include media($mobile1)   {  }
  @include media($mobile2)   {  }
  @include media($tablet1)   {  }
  @include media($tablet2)   {  }
  @include media($max-width) {  }
  
  a {
  	&:link,
  	&:visited { color: $linkcolor; }
  	&:hover   { color: lighten($linkcolor, 20); }
  	&:active  { color: lighten($linkcolor, 30); }
	}
	
	h2 { font-weight: normal; }
	
}

article {
  @extend %nice-text;
  @extend %content-module;
  
  font-family: Blackout2AM;
  text-shadow: 10px 10px 0 fuchsia;
	
  @include media($mobile1)   {  }
  @include media($mobile2)   {  }
  @include media($tablet1)   {  }
  @include media($tablet2)   {  }
  @include media($max-width) {  }
  	
	.entry-header h1 {

    @include media($mobile1)   {  }
    @include media($mobile2)   {  }
    @include media($tablet1)   {  }
    @include media($tablet2)   {  }
    @include media($max-width) {  }
  }

	a {  }

	.article-text > p:first-child {
  	font-size: 1.2rem;
  	margin: 1rem 0;
  	text-align: left;
  	@include hyphens(none);
  	@include media($tablet1) { font-size: 1.4rem; }
	 }	
	 
  .signature a {
    &:link,
    &:visited { color: $featurecolor; }
    &:hover   { color: lighten($featurecolor, 20); }
    &:active  { color: lighten($featurecolor, 30); }
  }
  
}

.feature-sidebar {
  @extend %content-module;

  padding-bottom: 3rem;
  
  @include media($mobile1)   {  }
  @include media($mobile2)   {  }
  @include media($tablet1)   {  }
  @include media($tablet2)   {  }
  @include media($max-width) {  }
  
  img {

  }
  
}