// Standard Article List and Single View

.primary {
  background: red;
  @extend %content-module;

  .post {
    
    @extend %thing-list;
    @extend %margin-remover;
    @extend %bottom-margin-helper;
    
    @include pad(1.5rem 0);
    
    @include media($tablet1) {
      @include pad(3rem 0); 
    }
    
    &:first-child { padding-top: 0;}
    
    // Images and Media Elements
    img {
      width: auto;
      height: auto;
      display: block;
      margin-bottom: 1rem;
      padding: .5rem;
      background: rgba(0,0,0,.1);
      @include media($mobile2) {
        padding: .825rem;
      }
    }
    
    iframe { @include box-sizing(border-box); }

    a > img, 
    .video-wrapper {
      @extend %yb-media-link;
      &.inline {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    img,
    .video-wrapper,
    iframe[src^="http://maps.google.com"] {
      @extend %yb-media-module;
    }
    
    .posted { margin-top: 0; }

    .entry-meta p,
    .via { @extend %meta-ish; }
    
  }
  
  // Search Result
  .searchresult {
    @extend %thing-list;
    a { @include links($link: $link-alt); }
  }
}


// Entry Header
.entry-header {
  margin-bottom: 2rem;
  
  a { @include links($link: $link-alt); }
  
  h1 {
   font-size: 1.5rem;
   margin-top: 0;
   margin-bottom: .2em;
   @include media($tablet1) {
      font-size: 2rem;
    }
  }
}

.category-link-post {
  @include pad(1rem 0);
  .headline a {
    @include links($link: $link-alt);
  }
  &:first-child p:first-child {
    margin-top: 0;
  }
}


// 404 Page Animation
.notfoundcontent {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  .searchblock { margin-bottom: 2rem; }
}

@include keyframes(santapop) {
  from { @include transform(scale(0)); }
  to   { @include transform(scale(1)); }
}

@include keyframes(eyes) {
  from { @include transform(translateX(-1.5%)); }
  30%  { @include transform(translateX(-1.5%)); }
  40%  { @include transform(translateX(0)); }
  90%  { @include transform(translateX(0)); }
  to   { @include transform(translateX(-1.5%)); }
}
  
.santa-animated {
  position: relative;
  @include animation-name(santapop);
  @include animation-duration(.8s);
  @include animation-delay(1.2s);
  @include animation-timing-function(cubic-bezier(.16,.24,.5,1.51));
  @include animation-iteration-count(1);
  @include animation-fill-mode(backwards);
  
  .face {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .eyes {
    max-width: 100%;
    position: relative;
    z-index: 2;
    @include animation-name(eyes);
    @include animation-duration(10s);
    @include animation-delay(1.2s);
    @include animation-timing-function(ease);
    @include animation-iteration-count(infinite);
  }
}


// Pagination
.blog-pagination {
  box-shadow: $nice-inset-shadow;
  background: rgba($black, .1);
  
  @include media(ipad-portrait)  { font-size: 1.2rem; }
  @include media(ipad-landscape) { font-size: 1.5rem; }
  
  ul {
    list-style: none;
    padding: 0;
    @include clearfix;
  }
  
  li {
    display: inline-block;
    &:first-child { float: left; }
    &:last-child  { float: right; }
  }
  
  a {
    padding: 1em;
    display: inline-block;
    @include links($link: $link-alt);
  }
}