.primary {
  
  @extend %content-module;

  article {
    
    @extend %thing-list;
    @extend %margin-remover;
    
    padding-bottom: 2rem;
    
    // Images and Media Elements
    img {
      width: auto;
      height: auto;
      display: block;
      margin: 0 auto;
      padding: .5rem;
      background: rgba(0,0,0,.1);
      @include media($iphone-wide-landscape) {
        padding: .825rem;
      }
    }
    
    iframe { @include box-sizing(border-box); }

    a > img, 
    .video-wrapper {
      @include transition(.25s all ease-in-out .1s);
      &:hover  {background: rgba(255,255,255,.1);}
      &.inline {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    img,
    .video-wrapper,
    iframe[src^="http://maps.google.com"] {
      max-width: 100%;
      padding: .5rem;
      background: rgba(0,0,0,.1);
      @include box-shadow($nice-inset-shadow);
      @include media($iphone-wide-landscape) {
        padding: .825rem;
      }
    }

    .entry-meta,
    .via { @extend %meta-ish; }
    
  }
}

.entry-header {
  a { @include links($link: $link-alt); }
  h1 {
   font-size: 1.5rem;
   @include media($iphone-wide-landscape) {
      font-size: 2rem;
    }
  }
}

.category-link-post {
  .headline a {
    @include links($link: $link-alt);
  }
}