// Settings - This is all imports, variables, mixins and includes. No actual styles.

// Colors
$text: #dbeaff;
$link: #7ab4e5;
$link-alt: #dbeaff;
$contrast: #e62c25;

$white: #fff;
$black: #000;

$gray-10: lighten($black, 90);
$gray-20: lighten($black, 80);
$gray-30: lighten($black, 70);
$gray-40: lighten($black, 60);
$gray-50: lighten($black, 50);
$gray-60: lighten($black, 40);
$gray-70: lighten($black, 30);
$gray-80: lighten($black, 20);
$gray-90: lighten($black, 10);

// Fonts
$fontdir: '/fonts/';
$font-standard: 'Bitter', Georgia, serif;
$body-copy-font: Georgia, serif;

// Reusable things
$nice-inset-shadow:     0   1px  8px         rgba($black, .3)     inset,
                        0   1px   0          rgba($white, .075);

$nice-shadow:           0   1px   0          rgba($white, .3)     inset,
                        0   2px   1px        rgba($black, .14),
                        0   2px  10px        rgba($black, .4);

$nice-shadow-lighter:   0   1px   0          rgba($white, .1)     inset,
                        0   2px   1px        rgba($black, .14),
                        0   2px  10px        rgba($black, .4);


$wrap-shadow-1:         0   1px   0          rgba($white, 0.1)    inset;
$wrap-shadow-2:         0  -1px   0          rgba($black, 0.3)    inset;
$wrap-shadow-3:         0   0    10px        rgba($black, .5);

$wrap-shadow: $wrap-shadow-1, $wrap-shadow-2, $wrap-shadow-3;

// Breakpoints

$mobile1: new-breakpoint(em(480));
$mobile2: new-breakpoint(em(568));
$tablet1: new-breakpoint(em(768));
$tablet2: new-breakpoint(em(1024));
$desktop: new-breakpoint(em(1024));
$max-width: em(1140);


// Universal Mixins
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin links(
  $link:       $link,
  $visited:    $link,
  $hover:      $contrast,
  $active:     lighten($hover, 10%),
  $focus:      $hover,
  $transition: .15s color ease-in-out ) {
  text-decoration: none;
  &:link    { color: $link;    }
  &:visited { color: $visited; }
  &:hover   { color: $hover;   }
  &:active  { color: $active;  }
  &:focus   { color: $focus;   }
  @include transition($transition);
}

@mixin hyphens($value) {
  -webkit-hyphens: $value;
     -moz-hyphens: $value;
      -ms-hyphens: $value;
          hyphens: $value;
}

@mixin text-stroke($value) {
  -webkit-text-stroke: $value;
          text-stroke: $value;
}

// Testing Extends
%test-border { border: 1px solid red; }
%test-bg { background: transparentize(#f90, .8); }


// Universal Extends
%nice-text {
  text-align: left;
  @include media($mobile2) {
    text-align: justify;
    @include hyphens(auto);
  }
}

%yb-media-module {
  max-width: 100%;
  padding: .5rem;
  background: rgba($black, .1);
  box-shadow: $nice-inset-shadow;
  @include media($mobile2) {
    padding: .825rem;
  }
}

%yb-media-link {
  &:hover  { background: rgba($white, .1); }
  @include transition(.25s all ease-in-out .1s);
}

%clearinput {
  @include box-sizing(border-box);
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

%meta-ish {
  font-size: .875rem;
  line-height: 1.25;
}

%blockimg {
  // width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%pad-for-small-screens {
  @include pad(0 1rem);
  @include media($max-width) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @include media($max-width + em(24)) {
    @include pad(0);
  }
}

%hide-text {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

%dont-hide-text {
  text-indent: 0;
  white-space: normal;
  overflow: auto;
}

%content-module {
  p {
    line-height: 1.6;
  }
  blockquote {
    font-style: italic;
    color: $white;
    margin-right: golden-ratio(1rem, 2);
    margin-left: golden-ratio(1rem, 2);
  }
}

%thing-list {
  border-top: 1px solid rgba($white, .1);
  border-bottom: 1px solid rgba($black, .1);
  &:first-of-type {
    border-top: none;
  }
  &:last-of-type {
    border-bottom: none;
  }
}

%bottom-margin-helper {
  & > *:last-child,
  & > *:last-child > *:last-child,
  & > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0;
  }
}