// Colors
$text: #dbeaff;
$link: #7ab4e5;
$link-alt: #dbeaff;
$contrast: #e62c25;

$white: #fff;
$black: #000;

$gray-10: lighten($black, 90);
$gray-20: lighten($black, 80);
$gray-30: lighten($black, 70);
$gray-40: lighten($black, 60);
$gray-50: lighten($black, 50);
$gray-60: lighten($black, 40);
$gray-70: lighten($black, 30);
$gray-80: lighten($black, 20);
$gray-90: lighten($black, 10);

// Fonts
$font-standard: 'Bitter', Georgia, serif;

// Reusable things
$nice-inset-shadow: 0 1px 8px rgba(0,0,0,.3) inset, 0 1px 0 rgba(255,255,255,.075);


// Breakpoints
$iphone-landscape:       new-breakpoint(481px);
$iphone-wide-landscape:  new-breakpoint(569px);
$ipad-portrait:          new-breakpoint(769px);
$ipad-landscape:         new-breakpoint(1025px);
$max-width: em(1140);


// Universal Mixins
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin links(
    $link:       $link, 
    $visited:    $link, 
    $hover:      $contrast, 
    $active:     lighten($hover, 10%), 
    $focus:      $hover, 
    $transition: .15s color ease-in-out ) {
  text-decoration: none;
  &:link    { color: $link;    }
  &:visited { color: $visited; }
  &:hover   { color: $hover;   }
  &:active  { color: $active;  }
  &:focus   { color: $focus;   }
  @include transition($transition);
}

@mixin hyphens($value) {
  -webkit-hyphens: $value;
     -moz-hyphens: $value;
      -ms-hyphens: $value;
          hyphens: $value;
}

@mixin text-stroke($value) {
  -webkit-text-stroke: $value;
          text-stroke: $value;
}

@mixin nice-text {
  text-align: left;
  @include media($iphone-wide-landscape) {
    text-align: justify;
    @include hyphens(auto);
  }
}


// Universal Extends
%blockimg {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%pad-for-small-screens {
  @include pad(0 1rem);
  @include media($max-width) {
  }
  @include media($max-width + em(24)) {
    @include pad(0 1rem);
  }
}

%hide-text {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

%dont-hide-text {
  text-indent: 0;
  white-space: normal;
  overflow: auto;
}

%content-module {
  p {
    line-height: 1.6;
  }
}

%thing-list {
  border-top: 1px solid rgba($white, .1);
  border-bottom: 1px solid rgba($black, .1);
  &:first-of-type {
    border-top: none;
  }
  &:last-of-type {
    border-bottom: none;
  }
}

%bottom-padding-helper {
  & > *:last-child,
  & > *:last-child > *:last-child,
  & > *:last-child > *:last-child > *:last-child {
    padding-bottom: 0;
  }
}