.header-wrap {
  background-color: rgba($black, .3);
  background-size: cover;

}




.header-wrap {
  z-index: 2;
  @include background(linear-gradient(rgba($black, .3), rgba($black, .3)), url(img/background-2013.jpg));
  background-size: cover, auto;
}

.canvas-snowfall {
  z-index: 2;
  pointer-events: none;
}

.footer-wrap {
  background: linear-gradient(red, blue), url(img/background-2013.jpg);
}


.main {
  box-shadow: 0 1px 0 rgba($white, .1) inset,
              0 -2px 2px rgba($black, .1),
              0 -5px 10px rgba($black, .15);
}