// Main Theme Structure. Doesn't cover features.



// Body
%content-column {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  @include reset-display();
}

.wrap {
  text-shadow: rgba($black, .2) 0px -1px 0px;
  box-shadow: 0 1px 0 rgba($white, 0.1) inset,
              0 4px 2px -2px rgba($black, 0.1),
              0 -5px 10px rgba($black, .15);

  a { @include links;}
}



.main {
  @extend %pad-for-small-screens;
  @include outer-container;
}

.primary {
  @extend %content-column;
  @include media($tablet1) {
    @include span-columns(8);
    margin-top: 3.5rem;
  }
}

.secondary {
  @extend %content-column;
  @include media($tablet1) {
    @include span-columns(4);
    margin-top: 3.5rem;
  }
}


.the-features {
  margin-top: 3.5rem;
  a {
    display: block;
    @include links($link: $link-alt);
  }
  
  article {
    margin-bottom: 1rem;
    
    @include media($tablet1) {
      @include span-columns(6);
      @include omega(2n);
    }
    
    @include media($tablet2) {
      @include span-columns(4);
      @include omega-reset(2n);
      @include omega(3n);
    }
    
    h1 {
      margin-top: 0;
      font-size: golden-ratio(.5rem, 2);
    }
    .entry-meta,
    .excerpt { @extend %meta-ish; }
  }
  img {
    @extend %yb-media-module;
    @extend %yb-media-link;
    max-width: 100%;
  }
}

// 404 Page Structure
.notfoundcontent {
  @include media($tablet1) {
    @include shift(3);
    @include span-columns(6);
  }
}



