// Site Structure
html {
  height: 100%;
  background: url(img/background-2013.jpg) no-repeat center top fixed;
  background-size: cover;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  color: $text;
  -webkit-font-smoothing: antialiased;
  font-family: $font-standard;
  // Todo: Probably get rid of this.
  @include media($ipad-landscape) {
    &:after {
      background: rgba($black, .5);
      position: fixed;
      width: 100%;
      height: 500px;
      content: " ";
    }
  }
}

#snowfallheader {
  position: fixed;
  z-index: -1;
  pointer-events: none;
  background: transparent;
}




// Header
.header-wrap {
  a { @include links($link: $link-alt);}
  background: rgba($black, .3);
}

.header-container {

  // @extend %test-bg;
  // @extend %test-border;
  
  @extend %pad-for-small-screens;
  padding-top: 1rem;
  padding-bottom: .5rem;
  
  position: relative;
  @include outer-container;
  @include media($iphone-wide-landscape) {
    @include row(table);
    position: relative;
    padding-bottom: 1rem;
  }
  @include media($max-width + em(24)) {
//    @include pad(1rem 0);
  }
}

.site-logo {
  text-align: center;
  margin: 1rem 0;
  @include media($iphone-wide-landscape) {
    text-align: left;
    margin-bottom: 0;
    position: relative;
    left: -5px;
    @include span-columns(4);
  }

  img {
    width: 300px;
    max-width: 100%;
  }
}

.site-nav {
  text-align: center;
  @include media($iphone-landscape) {
    font-size: golden-ratio(.5em, 2);
    @include span-columns(10);
  }
  @include media($iphone-wide-landscape) {
    text-align: right;
    @include span-columns(7);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 1rem;
    @include media($iphone-landscape) {
      margin: 0 .5rem;
    }
  }

}

.site-snow-toggle {
  position: relative;
  text-align: right;
  @include media($iphone-landscape) {
    @include span-columns(2);
  }
  @include media($iphone-wide-landscape) {
    @include span-columns(1);
  }
}

.snowfall-toggle {
  bottom: -3px;
  border-radius: 8px;
  @include toggle(65, 16, "Snow On", "Snow Off");
}







// Body
%content-column {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  @include reset-display();
}

.wrap {
  text-shadow: rgba($black, .2) 0px -1px 0px;
  box-shadow: 0 1px 0 rgba($white, 0.1) inset,
              0 4px 2px -2px rgba($black, 0.1),
              0 -5px 10px rgba($black, .15);

  a { @include links;}
}



.main {
  @extend %pad-for-small-screens;
  @include outer-container;
}

.primary {
  @extend %content-column;
  @include media($iphone-wide-landscape) {
    @include span-columns(8);
    margin-top: 3.5rem;
  }
}

.secondary {
  @extend %content-column;
  @include media($iphone-wide-landscape) {
    @include span-columns(4);
    margin-top: 3.5rem;
  }
}


.the-features {
  margin-top: 3.5rem;
  a {
    display: block;
    @include links($link: $link-alt);
  }
  
  article {
    margin-bottom: 1rem;
    
    @include media($ipad-portrait) {
      @include span-columns(6);
      @include omega(2n);
    }
    
    @include media($ipad-landscape) {
      @include span-columns(4);
      @include omega-reset(2n);
      @include omega(3n);
    }
    
    h1 {
      margin-top: 0;
      font-size: golden-ratio(.5rem, 2);
    }
    .entry-meta,
    .excerpt { @extend %meta-ish; }
  }
  img {
    @extend %yb-media-module;
    @extend %yb-media-link;
    max-width: 100%;
  }
}



.notfoundcontent {
  @include media($ipad-portrait) {
    @include shift(3);
    @include span-columns(6);
  }
}


// Pagination

.blog-pagination {
  box-shadow: $nice-inset-shadow;
  background: rgba($black, .1);
  
  @include media(ipad-portrait)  { font-size: 1.2rem; }
  @include media(ipad-landscape) { font-size: 1.5rem; }
  
  ul {
    list-style: none;
    padding: 0;
    @include clearfix;
  }
  
  li {
    display: inline-block;
    &:first-child { float: left; }
    &:last-child  { float: right; }
  }
  
  a {
    padding: 1em;
    display: inline-block;
    @include links($link: $link-alt);
  }
}



// Footer
.footer-wrap {
  padding: 2rem 0;
  a { @include links;}
  position: relative;
  background: rgba($black, .5);
  box-shadow: 0 1px 0 rgba($white, .2) inset,
              0 4px 4px -3px rgba($black, 0.1) inset,
              0 10px 10px rgba($black, .5) inset;
}


%footer-section {
  @extend %content-module;
  @include media($iphone-wide-landscape) {
    @include span-columns(4);
  }
}

.footer-main {
  @extend %pad-for-small-screens;
  @include outer-container;
  
  h3 {
    font-size: golden-ratio(.5em, 2);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    @extend %thing-list;
    margin: 0;
    padding: 1rem 0;
    
    time {
      font-size: .8rem;
      color: $text;
    }
  }

  .about {
    @extend %footer-section;
    section { @extend %thing-list; }
  }

  .nav {
    @extend %footer-section;
  }

  .features {
    @extend %footer-section;
  }
}