// .header-wrap {
//   z-index: 2;
//   background(rgba($black, .3), rgba($black, .3)), url(img/background-2013.jpg));
//   background-size: cover, auto;
// }

.canvas-snowfall {
  z-index: 2;
}

.footer-wrap {
  @include background(linear-gradient(rgba($black, .5), rgba($black, .5)), url(img/background-2013.jpg));
}


.main {
  background: black;  position: relative;
	z-index: 3;
  @extend %pad-for-small-screens;
  @include outer-container;
}