@import 'modules/bourbon/bourbon';
@import 'modules/globals';
@import 'modules/1140';

@mixin header-links(
    $link: #dbeaff, 
    $visited: #dbeaff, 
    $hover: #e62c25, 
    $active: lighten($hover, 10%), 
    $focus: $hover, 
    $transition: .15s color ease-in-out ) {
  &:link    { color: $link;    }
  &:visited { color: $visited; }
  &:hover   { color: $hover;   }
  &:active  { color: $active;  }
  &:focus   { color: $focus;   }
  @include transition($transition);
}

.hrail-bar {
  background: #192231 url("../img/hrail-bg.jpg") no-repeat center top fixed;
  background-size: contain;
}

.canvas-snowfall {position: absolute; pointer-events: none;}


.main, .wrap {@include box-shadow($header-drop);}

.site-footer {

    .footer-content {background: rgba(0,0,0,.3);}
  
}