@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus'), 
       local('Marcellus-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/marcellus/v1/FJNab1jzp1t7ctjNl8ugHLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}