// Mexcellent

@font-face {
  font-family:'MexcellentRegular';
  src: url('#{$fontdir}/mexcellent/mexcellent_rg-webfont.eot');
  src: url('#{$fontdir}/mexcellent/mexcellent_rg-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fontdir}/mexcellent/mexcellent_rg-webfont.woff') format('woff'),
       url('#{$fontdir}/mexcellent/mexcellent_rg-webfont.ttf') format('truetype'),
       url('#{$fontdir}/mexcellent/mexcellent_rg-webfont.svg#') format('svg');
  font-weight:normal;
  font-style:normal;
}