@font-face {
  font-family: 'TanachRegular';
  src: url('#{$fontdir}/tanach/tanach_regular-webfont.eot');
  src: local('☺'), 
       url('#{$fontdir}/tanach/tanach_regular-webfont.woff') format('woff'), 
       url('#{$fontdir}/tanach/tanach_regular-webfont.ttf') format('truetype'), 
       url('#{$fontdir}/tanach/tanach_regular-webfont.svg#webfont756qw7Hh') format('svg');
  font-weight: normal;
  font-style: normal;
}