// Chunk Five Regular

@font-face {
  font-family: 'ChunkFiveRegular'; 
  src: url('#{$fontdir}/chunkfive/Chunkfive-webfont.eot'); 
  src: url('#{$fontdir}/chunkfive/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'), 
       url('#{$fontdir}/chunkfive/Chunkfive-webfont.woff') format('woff'), 
       url('#{$fontdir}/chunkfive/Chunkfive-webfont.ttf') format('truetype'), 
       url('#{$fontdir}/chunkfive/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg'); 
  font-weight: normal;
  font-style: normal;
}