// Keep Calm

@font-face {
  font-family: 'KeepCalmMedium';
  src: url('#{$fontdir}/keepcalm/keepcalm-webfont.eot');
  src: url('#{$fontdir}/keepcalm/keepcalm-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fontdir}/keepcalm/keepcalm-webfont.woff') format('woff')
       url('#{$fontdir}/keepcalm/keepcalm-webfont.ttf') format('truetype'),
       url('#{$fontdir}/keepcalm/keepcalm-webfont.svg#KeepCalmMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}