// Peanuts Regular

@font-face {
  font-family: 'PeanutsRegular';
  src: url('#{$fontdir}/peanuts/peanuts-regular-webfont.eot');
  src: local('☺'), 
       url('#{$fontdir}/peanuts/peanuts-regular-webfont.woff') format('woff'), 
       url('#{$fontdir}/peanuts/peanuts-regular-webfont.ttf') format('truetype'), 
       url('#{$fontdir}/peanuts/peanuts-regular-webfont.svg#webfont221zWC5z') format('svg');
  font-weight: normal;
  font-style: normal;
}