// http://fonts.googleapis.com/css?family=UnifrakturCook:700

@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 700;
  src: local('UnifrakturCook'), 
       local('UnifrakturCook-Bold'), 
       url(http://themes.googleusercontent.com/static/fonts/unifrakturcook/v5/ASwh69ykD8iaoYijVEU6RgJcki-BsVeC4IjtMe0VI3I.woff) format('woff');
}