/*
  _feature_sidebar_setup.scss
  Sets up common elements for many feature templates
*/

@import 'bourbon/bourbon';
@import 'globals';
@import '1140';

header h1 {line-height: 1;}

.additional-information {
  font-size: .8em;
  text-align: left;
}