/*
  _feature_freeform_setup.scss
  Sets up common elements for many feature templates
*/

@import 'bourbon/bourbon';
@import 'normalize';
@import 'globals';
@import '1140';

.main {
  @include container;
  @include clearfix;
}

.content {
  @include row;
}

header h1 {line-height: 1;}

.additional-information {
  font-size: .8em;
  text-align: left;
}

.signature a {color: inherit;}